body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: 'Sarabun', sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
.topBar {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
}
.addCreateLinks {
    display: flex;
    align-self: flex-end;
    flex-direction: column-reverse;
    align-items: end;
}
.logo {
    display: flex;
    flex-basis: content;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-start;
    padding: 10px;
}
.logOutArea {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    /* border: 3px solid orange; */
}
.sideBar {
    background-color: #1A1423;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-color: #1A1423;
    display: flex;
    flex-basis: 100%;
    margin: 15px;
}
.square {
    background-color: #f2f2f2;
    border-radius: 5px;
    border-style: solid;
    border-color: #1A1423;
    color: #1A1423;
    padding: 15px;
}
.articleTitle {
    display: flex;
    justify-content: space-between;
}
.articleDivs {
    display: flex;
    flex-direction: column;
}
#mainArea {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    border-style: solid;
    border-color: darkgray;
    flex-grow: 5;
}
.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}
ul li {
    padding-top: 10px;
}
#seeAll {
    text-align: right;
}
#wikiTitle {
    font-weight: bolder;
    font-size: 25pt;
    /* border: 1px solid orchid; */
    color: #181818;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}
.logoutButton {
    text-align: right;
}
#everythingButHeader {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
}
#filler {
    flex: auto;
}
/* a + div {
    display: none;
}
a:hover + div {
    display: flex;
    background-color: lightgray;
    font-style: italic;
    margin: 5px;
} */
footer {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 0.5;
    color: #181818;
}
#welcomeTitle > p:first-child {
    font-weight: bold;
    font-size: 20pt;
}
#welcomeBox {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 5px solid darkgray;
    padding: 10px;
    border-radius: 15px;
    flex-wrap: nowrap;
}
hr {
    width: 100%;
    border: 2px darkgray solid;
}
a {
    font-weight: bold;
}
a:hover, a:active {
    text-decoration: underline;
}
a:link, a:visited {
    text-decoration: none;
}
#loginButton{
    align-self: flex-end;
    display: flex;
}
#welcomeTitle {
    display: flex;
    background-color: darkgray;
    flex: 100%;
    justify-content: center;
    border: inherit;
    border-radius: inherit;
}
.loginBox {
    display: flex;
    padding: 50pt;
    align-self: center;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    border-style: solid;
    border-color: darkgray;
}
#registerButton {
    display: flex;
    align-self: flex-start;
    font-weight: 100;
}
#logButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bigcontainer {
    display: flex;
    flex: 1;
}
img {
    float: right;
}